<%- include('includes/header'); -%>

    <div class="bg-danger p-3 text-white">
        <div class="container mt-2">
            <h2><i class="fa fa-plus-circle"></i> Create New Product</h2>
            <p>
                Please fill out the form below to add a new product.
            </p>
        </div>
    </div>

    <div class="container-fluid mt-4 mb-4">
        <div class="row">
            <div class="col-lg-3">
                <div class="card">
                    <div class="card-header bg-primary text-white">
                        <i class="fa fa-cube"></i> Product Form
                    </div>
                    <div class="card-body">
                        <form action="/products/store" method="POST" enctype="multipart/form-data">
                            <div class="mb-3">
                                <label for="title" class="form-label">
                                    <i class="fa fa-tag"></i> Product Title
                                </label>
                                <input type="text" class="form-control" name="title" id="title" required>
                            </div>
            
                            <div class="mb-3">
                                <label for="description" class="form-label">
                                    <i class="fa fa-align-left"></i> Description
                                </label>
                                <textarea class="form-control" name="description" id="description" rows="3" required></textarea>
                            </div>
            
                            <div class="mb-3">
                                <label for="price" class="form-label">
                                    <i class="fa fa-usd"></i> Price ($)
                                </label>
                                <input type="number" class="form-control" name="price" id="price" required>
                            </div>
            
                            <div class="mb-3">
                                <label for="image" class="form-label">
                                    <i class="fa fa-picture-o"></i> Product Image
                                </label>
                                <input type="file" class="form-control" name="image" id="image" accept="image/*" required>
                            </div>
            
                            <button type="submit" class="btn btn-success w-100">
                                <i class="fa fa-save"></i> Submit Product
                            </button>
                        </form>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-8">
                <div class="card">
                    <div class="card-header bg-primary text-white">
                        <i class="fa fa-list"></i> Product list
                    </div>
                    <table class="table table-stripped table-hover table-bordered">
                        <tr>
                            <th><i class="fa fa-picture-o"></i> Image</th>
                            <th><i class="fa fa-tag"></i> Title</th>
                            <th><i class="fa fa-align-left"></i> Stock</th>
                            <th><i class="fa fa-usd"></i> Price</th>
                            <th><i class="fa fa-cogs"></i> Action</th>
                        </tr>
                        <% products.forEach(product=> { %>
                        <tr>
                            <td>
                                <img src="<%= product.image %>" alt="Product Image" width="60">
                            </td>
                            <td><i class="fa fa-tag"></i> <%= product.title %> </td>
                            <td><i class="fa fa-align-left"></i> <%= product.Stock %></td>
                            <td><i class="fa fa-usd"></i> <%= product.price %></td>
                            <td>
                                <a href="/product/delete/<%= product._id %>">
                                    <button class="btn btn-danger btn-sm"><i class="fa fa-trash"></i></button>
                                </a>
                                <button class="btn btn-success btn-sm"><i class="fa fa-edit"></i></button>
                            </td>
                        </tr>
                        <% }); %>
                    </table>
                </div>
            </div>
        </div>
    </div>

<%- include('includes/footer'); -%>